.sidebar-content {
    order: 1;
}
.sidebar {
    display: flex-start;
    width: 400px;
    height: 100vh;
    background-color: magenta;
}
.sidebarChat {
    padding: 20px;
    cursor: pointer;
    align-self: flex-start;
}

.sidebarChat__info h2 {
    font-size: 14px;
    margin-bottom: 8px;
    color: white;
}
.sidebarChat__info {
    margin-left:15px;
    font-size:13px;
    flex: 1;
    color: gray;
}
.sidebar_headerLeft {
    color: white;
}
.sidechat_timestamp {
    color: white;
}
